

<app-header  ></app-header>

<!-- (loginevent)="iflogin($event)" *ngIf="isgologin == false"
     <<<<<<< HEAD -->
<!-- <app-contact-us></app-contact-us> -->

<!-- <app-contact-us></app-contact-us> -->
<!-- >>>>>>> 6485fe530f20fb951f6acb4c94dd910f7c46b17f -->
<!-- <app-home></app-home> -->
<!-- <app-aboutus></app-aboutus> -->
<!-- <app-page-not-found></app-page-not-found> -->
<!-- <app-jobs></app-jobs> -->
<!-- <app-job-details></app-job-details> -->
<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->
<!-- <app-user-profile></app-user-profile> -->
<!-- <<<<<<< HEAD -->
<router-outlet ></router-outlet>
<!-- >>>>>>> 6485fe530f20fb951f6acb4c94dd910f7c46b17f -->
<app-footer ></app-footer>


