.main-photo {
  background:
          linear-gradient(
                  rgba(0, 0, 0, 0.75),
                  rgba(10, 10, 30, 0.45)
          ),
          url(../../../assets/FB_IMG_1510490131060.jpg)
          ;

  background-size: cover;

  min-height: 690px;
  margin-top: 50px;
  padding-top: 170px;
  padding-bottom: 100px;
}

div.gray-bg {
  background-color: #f3f3f3;
}

