
<!-- about section start -->
   <!-- About -->
   <div class="about gray-bg section-item" style="margin-top: 70px; padding-top: 50px;">
    <div class="container" data-aos="zoom-in">

        <div class="row">
            <div class="col-12">
                <h2 class="text-center" style="margin-bottom: 25px;">Recipe Vesion</h2>

                <p>Et malesuada fames ac turpis egestas. Arcu dictum varius duis at consectetur. Nisl suscipit adipiscing bibendum est ultricies integer quis. Quam lacus suspendisse faucibus interdum posuere. Eu volutpat odio facilisis mauris sit amet massa. Mauris sit amet massa vitae tortor condimentum. Neque sodales ut etiam sit amet nisl purus in. Ac feugiat sed lectus vestibulum. Felis eget velit aliquet sagittis id consectetur purus ut faucibus. Pharetra sit amet aliquam id diam maecenas ultricies mi eget.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-md-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci eu lobortis elementum nibh. Velit egestas dui id ornare arcu odio ut sem nulla. Consequat interdum varius sit amet mattis. In hendrerit gravida rutrum quisque non tellus. Fames ac turpis egestas integer.</p>

                <p>Risus feugiat in ante metus dictum. Euismod in pellentesque massa placerat duis ultricies lacus. Porta non pulvinar neque laoreet suspendisse interdum consectetur libero id. Eu augue ut lectus arcu bibendum at varius vel.</p>

                <p style="margin-bottom: 50px;">Et malesuada fames ac turpis egestas. Arcu dictum varius duis at consectetur. Nisl suscipit adipiscing bibendum est ultricies integer quis. Quam lacus suspendisse faucibus interdum posuere. Eu volutpat odio facilisis mauris sit amet massa. Mauris sit amet massa vitae tortor condimentum. Neque sodales ut etiam sit amet nisl purus in. Ac feugiat sed lectus vestibulum. Felis eget velit aliquet sagittis id consectetur purus ut faucibus. Pharetra sit amet aliquam id diam maecenas ultricies mi eget.</p>
            </div>

            <div class="col-12 col-md-3">
                <div style="margin-left: 30px; margin-right: 30px;">
                    <img src="../../../assets/FB_IMG_1510490131060.jpg" class="img-fluid" />
                </div>
            </div>
        </div>

    </div>
</div>
