<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
  </head>
  <body class="hero-anime">
    <div class="navigation-wrap bg-light start-header start-style">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-md navbar-light pt-1 pb-1">
              <a class="navbar-brand" href="#"
                ><span style="font-size: 60px; color: #b94a3e">R</span>ecipe</a
              >
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto py-4 py-md-0">
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="activeLink act">Home</a>
                  </li>
                  <!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Template</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Create</a>
                      <a class="dropdown-item" href="#">Find</a>
                    </div>
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Text</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Create</a>
                      <a class="dropdown-item" href="#">Find</a>
                    </div>
                  </li> -->
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" [routerLink]="['/jobs']" routerLinkActive="activeLink act">Browse Job</a>
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" [routerLink]="['/blog']" routerLinkActive="activeLink act">Blog</a>
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="activeLink act">Contact</a>
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" [routerLink]="['/about-us']" routerLinkActive="activeLink act">About</a>
                  </li>
                  <li style="margin-left: 70px" class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']" routerLinkActive="activeLink act">Login</a>
                  </li>
                  <li class="pl-3 pl-md-0 ml-0 ml-md-3">
                    <!-- <a class="btn btn-outline-danger nav-link" href="#"> Add Post </a> -->
                    <a [routerLink]="['/post-job']" ><button class="btn btn-outline my-2 my-sm-0" type="submit">
                      Post A Job
                    </button></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
