<div class="job_details_area">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="apply_job_form white-bg">
          <h4>Register To Recipe</h4>
          <form action="#">
            <div class="row">
              <div class="col-md-12">
                <div class="input_field">
                  <input type="text" placeholder="User name" required />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input_field">
                  <input type="text" placeholder="First name" required />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input_field">
                  <input type="text" placeholder="Last name" required />
                </div>
              </div>
              <div class="col-md-12">
                <div class="input_field">
                  <input type="email" placeholder="Email" required />
                </div>
              </div>
              <div class="col-md-12">
                <div class="input_field">
                  <input type="password" placeholder="Password" required />
                </div>
              </div>
              <div class="col-md-12">
                <div class="input_field">
                  <input
                    type="password"
                    placeholder="confirm password"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input_field">
                  <input
                    type="tel"
                    placeholder="Phone number"
                    pattern="(201)[0-9]{9}"
                    minlength="11"
                    maxlength="11"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button type="button" id="inputGroupFileAddon03">
                      <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    </button>
                  </div>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="inputGroupFile03"
                      aria-describedby="inputGroupFileAddon03"
                    />
                    <label class="custom-file-label" for="inputGroupFile03"
                      >Upload image</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input_field">
                  <input type="url" placeholder="Github" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="input_field">
                  <input type="url" placeholder="Instgram" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="input_field">
                  <input type="url" placeholder="Facebook" />
                </div>
              </div>
              <div _ngcontent-hnr-c48="" class="col mb-4 h-100 w-100">
                <div _ngcontent-hnr-c48="" class="single_input">
                  <div class="nice-select wide" tabindex="0">
                    <span class="current">Select register type</span>
                    <ul class="list">
                      <li
                        data-value="Job Tags"
                        data-display="Job Tags"
                        class="option selected"
                      >
                      Select register type
                      </li>
                      <li data-value="1" class="option">Company</li>
                      <li data-value="2" class="option">Client</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- -->
              <div class="col-md-12">
                <div class="submit_btn">
                  <button class="boxed-btn3 w-100" type="submit">
                    Sign up
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
