<!-- <p>jobs works!</p> -->
<!-- job_listing_area_start  -->
<div class="job_listing_area plus_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
      <form [formGroup]="findForm"   (ngSubmit)="btnSearch()">
        <div class="job_filter white-bg">
          <div class="form_inner white-bg">
            <h3>Filter</h3>
            
              <div class="row">
              
                <div class="col-lg-12">
                  <div class="single_field">
                    <input type="text" placeholder="Search keyword" />
                  </div>
                </div>
                <div _ngcontent-hnr-c48="" class="col-12 h-100 w-100">
                  <div _ngcontent-hnr-c48="" class="single_field">
                    <div class="nice-select wide" tabindex="0">
                      <span class="current">Location</span>
                      <ul class="list list-group">
                        <li
                          data-value="0"
                          data-display="Location"
                          class="option selected list-group-item"
                        >
                          Location
                        </li>
                        <li
                          class="option list-group-item"
                          *ngFor="let d of DataLoc"
                          (click)="selectlocation(d.id)"
                          data-value="{{ d.id }}"
                        >
                          {{ d.name }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-lg-12">
                  <div class="single_field">
                    <select class="wide">
                      <option data-display="Category">Category</option>
                      <option value="1">Software Engineer</option>
                      <option value="2">Digital Marketer</option>
                    </select>
                  </div>
                </div> -->
                <!-- <div class="col-lg-12">
                  <div class="single_field">
                    <select class="wide">
                      <option data-display="Tags">Tags</option>
                      <option value="1">HTML</option>
                      <option value="2">CSS</option>
                    </select>
                  </div>
                </div> -->
                <div _ngcontent-hnr-c48="" class="col-12 h-100 w-100">
                  <div _ngcontent-hnr-c48="" class="single_field">
                    <div class="nice-select wide" tabindex="0">
                      <span class="current">Experience</span>
                      <ul class="list list-group">
                        <li
                          data-value="0"
                          data-display="Experience"
                          class="option selected list-group-item"
                        >
                          Experience
                        </li>
                        <li
                          class="option list-group-item"
                          *ngFor="let e of TypeEx"
                          (click)="selectEx(e)"
                          
                        >
                          {{ e }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div _ngcontent-hnr-c48="" class="col-12 h-100 w-100">
                  <div _ngcontent-hnr-c48="" class="single_field">
                    <div class="nice-select wide" tabindex="0">
                      <span class="current">Job Nature</span>
                      <ul class="list list-group">
                        <li
                          data-value="0"
                          data-display="Job Nature"
                          class="option selected list-group-item"
                        >
                          Job Nature
                        </li>
                        <li
                          class="option list-group-item"
                          *ngFor="let t of TypeJob"
                          (click)="selectNature(t)"
                          
                        >
                          {{ t }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div _ngcontent-hnr-c48="" class="col-12 h-100 w-100">
                  <div _ngcontent-hnr-c48="" class="single_field">
                    <div class="nice-select wide" tabindex="0">
                      <span class="current">Gender</span>
                      <ul class="list list-group">
                        <li
                          data-value="0"
                          data-display="Gender"
                          class="option selected list-group-item"
                        >
                          Gender
                        </li>
                        <li
                          class="option list-group-item"
                          *ngFor="let t of TypeGender"
                          (click)="selectGender(t)"
                          
                        >
                          {{ t }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            
          </div>
          <!-- <div class="range_wrap">
            <label for="amount">Price range:</label>
            <div id="slider-range"></div>
            <p>
              <input
                type="text"
                id="amount"
                readonly
                style="
                  border: 0;
                  color: #7a838b;
                  font-size: 14px;
                  font-weight: 400;
                "
              />
            </p>
          </div> -->
          <div class="job_btn" >
          <div class="submit_btn ">
                  <button
                    class="boxed-btn3 w-100"
                    type="submit"
                    [disabled]="findForm.invalid"
                  >
                    Find Job
                  </button>
                  </div>
          </div>
         
        </div>
         </form>
      </div>
      
      <div class="col-lg-9">
        <div class="recent_joblist_wrap">
          <div class="recent_joblist white-bg">
            <div class="row align-items-center">
              <div class="col-md-9">
                <h4>Job Listing</h4>
              </div>
              <div _ngcontent-hnr-c48="" class="col-md-3 h-100 w-100">
                <div _ngcontent-hnr-c48="" class="single_field">
                  <div class="nice-select wide" tabindex="0">
                    <span class="current">Most Recent</span>
                    <ul class="list">
                      <li
                        data-value="Job Tags"
                        data-display="Job Tags"
                        class="option selected"
                      >
                        Most Recent
                      </li>
                      <li data-value="1" class="option">Marketer</li>
                      <li data-value="2" class="option">Wordpress</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="job_lists m-0">
          <div class="row">
            <div class="col-lg-12 col-md-12" *ngFor="let job of listJob" [routerLink]="['/job-details']" (click)="jobInfoId(job.jobID)">
              <div class="single_jobs white-bg d-flex justify-content-between">
                <div class="jobs_left d-flex align-items-center">
                  <div class="thumb">
                    <img src="./../../../assets/img/svg_icon/1.svg" alt="" />
                  </div>
                  <div class="jobs_conetent">
                    <h4>{{ job.userID.companyName }}</h4>
                    <a 
                      ><h6>{{ job.title }}</h6></a
                    >
                    <div class="links_locat d-flex align-items-center">
                      <div class="location">
                        <p>
                          <i class="fa fa-map-marker"></i>{{ job.location }},
                          Egypt
                        </p>
                      </div>
                      <div class="location">
                        <p *ngIf="job.jobType == 'F'">
                          <i class="fa fa-clock-o"></i>Full Time
                        </p>
                        <p *ngIf="job.jobType == 'P'">
                          <i class="fa fa-clock-o"></i>Part Time
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="jobs_right">
                  <div class="apply_now">
                    <a class="heart_mark" href="#">
                      <i class="fa fa-heart"></i>
                    </a>
                    <a [routerLink]="['/job-details']" class="boxed-btn3"
                      >Apply Now</a
                    >
                  </div>
                  <div class="date">
                    <p>{{ job.published_at | date }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="pagination_wrap">
                <ul>
                  <li>
                    <a href="#"> <i class="ti-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="#"><span>01</span></a>
                  </li>
                  <li>
                    <a href="#"><span>02</span></a>
                  </li>
                  <li>
                    <a href="#"> <i class="ti-angle-right"></i> </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- job_listing_area_end  -->
