.contact-image {
  height:400px;
  width:100%;
  /* margin-top: 69px; */
  background-size:cover;
}

.cover{
  background-size: cover;
  margin-top: 60px;
}
section{
  background-color: #F5F7FA;
}
.form-control{
  background-color: white;
}
