<!-- <p>job-details works!</p> -->

<div class="job_details_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="job_details_header">
          <div class="single_jobs white-bg d-flex justify-content-between">
            <div class="jobs_left d-flex align-items-center">
              <div class="thumb">
                <img src="./../../../assets/img/svg_icon/1.svg" alt="" />
              </div>
              <div class="jobs_conetent">
                <a href="#"><h4>{{JobDetail.userID.companyName}}</h4></a>
                <div class="links_locat d-flex align-items-center">
                  <div class="location">
                    <p><i class="fa fa-map-marker"></i> {{JobDetail.location}}, Egypt</p>
                  </div>
                  <div class="location">
                    <p *ngIf="JobDetail.jobType == 'F'">
                          <i class="fa fa-clock-o"></i>Full Time
                        </p>
                        <p *ngIf="JobDetail.jobType == 'P'">
                          <i class="fa fa-clock-o"></i>Part Time
                        </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="jobs_right">
              <div class="apply_now">
                <a class="heart_mark" href="#">
                  <i class="ti-heart"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="descript_wrap white-bg">
          <div class="single_wrap">
            <h4>Job description</h4>
            <p>
             {{JobDetail.description}}.
            </p>
          </div>
          <!--<div class="single_wrap">
            <h4>Responsibility</h4>
            <ul>
            <li>
              {{JobDetail.responsibility}}.
              </li>
            </ul>
          </div>-->
          <div class="single_wrap">
            <h4>Qualifications</h4>
            <ul>
              <li>
               {{JobDetail.qualification}}.
              </li>
            </ul>
          </div>
          <div class="single_wrap">
            <h4>Benefits</h4>
             <ul>
              <li>
               {{JobDetail.benefits}}.
              </li>
            </ul>
          </div>
        </div>
        <div class="apply_job_form white-bg">
          <h4>Apply for the job</h4>
          <form action="">
            <div class="row">
              <div class="col-md-6">
                <div class="input_field">
                  <input type="text" placeholder="Your name" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input_field">
                  <input type="text" placeholder="Email" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="input_field">
                  <input type="text" placeholder="Website/Portfolio link" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button type="button" id="inputGroupFileAddon03">
                      <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    </button>
                  </div>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="inputGroupFile03"
                      aria-describedby="inputGroupFileAddon03"
                    />
                    <label class="custom-file-label" for="inputGroupFile03"
                      >Upload CV</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input_field">
                  <textarea
                    name="#"
                    id=""
                    cols="30"
                    rows="10"
                    placeholder="Coverletter"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="submit_btn">
                  <button class="boxed-btn3 w-100" type="submit">
                    Apply Now
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="job_sumary">
          <div class="summery_header">
            <h3>Job Summery</h3>
          </div>
          <div class="job_content">
            <ul>
              <li>Published on: <span>{{ JobDetail.published_at | date }}</span></li>
              <li>Vacancy: <span>{{JobDetail.vacancy}} Position</span></li>
              <li>Experience: <span>{{JobDetail.experience}}</span></li>
              <li>Location: <span>{{JobDetail.location}}, Egypt</span></li>
              <li>Job Nature: <span *ngIf="JobDetail.jobType == 'F'"> Full Time  </span>   <span *ngIf="JobDetail.jobType == 'P'"> Part Time  </span>    </li>
              <li>Gender: <span> {{JobDetail.gender}}</span></li>
              <li>Tags: <span *ngFor="let item of JobDetail.jobTags"> {{item}}</span></li>
            </ul>
          </div>
        </div>
        <div class="share_wrap d-flex">
          <span>Share at:</span>
          <ul>
            <li>
              <a href="#"> <i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
