<img
  src="./../../../assets/img/cover.jpg"
  alt=""
  class="cover"
  height="670px"
  width="100%"
/>
<!-- catagory_area -->
<div class="catagory_area">
  <div class="container">
    <form class="row cat_search" [formGroup]="findForm"   (ngSubmit)="btnSearch()">
      
        <div class="col-lg-3 col-md-4">
          <div class="single_input">
            <input type="text" placeholder="Job Title"  formControlName="title" />
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div  class="single_input">
            <div class="nice-select wide"  tabindex="0">
              <span class="current">Tag</span>
              <ul class="list list-group">
                <li 
                  data-value="0"
                  data-display="Tag"
                  class="option selected list-group-item">
                  Tag
                </li>
                <li class="option list-group-item" *ngFor="let d of DataTag" (click)="selecttag(d.id)"   data-value="{{d.id}}" >{{ d.name }}</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div  class="col-lg-3 col-md-4 h-100 w-100">
        <div  class="single_input">
          <div class="nice-select wide" tabindex="0">
            <span class="current">Job Tags</span>
            <ul class="list">
              <li
                data-value="Job Tags"
                data-display="Job Tags"
                class="option selected"
              >
                Job Tags
              </li>
              <li data-value="1" class="option">CSS</li>
              <li data-value="2" class="option">HTML</li>
              <li data-value="4" class="option">JavaScript</li>
            </ul>
          </div>
        </div>
       </div> -->
        <div  class="col-lg-3 col-md-4 h-100 w-100">
          <div  class="single_input">
            <div class="nice-select wide"  tabindex="0">
              <span class="current" #getloc  >Location</span>
              <ul class="list list-group">
                <li 
                  data-value="0"
                  data-display="Location"
                  class="option selected list-group-item"
                >
                  Location
                </li>
                <li class="option list-group-item" *ngFor="let d of DataLoc" (click)="selectlocation(d.id)"  data-value="{{d.id}}" >{{ d.name }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="job_btn" >
          <div class="submit_btn ">
                  <button
                    class="boxed-btn3 w-100"
                    type="submit"
                    [disabled]="findForm.invalid"
                  >
                    Find Job
                  </button>
                  </div>
          </div>
        </div>
     
    </form>
  </div>
</div>
<!--/ catagory_area -->

<!-- popular_catagory_area_start  -->
<div class="popular_catagory_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title mb-40">
          <h3>Popolar Categories</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xl-3 col-md-6" [routerLink]="['/jobs']" *ngFor="let cat of categoryList" (click)="getJob_in_Category(cat.id)">
        <div
          class="single_catagory"
          
        >
          <a style="text-decoration: none" 
            ><h4>{{cat.name}}</h4></a
          >
          <p><span class="bg-danger text-light">{{cat.count}}</span> Available position</p>
        </div>
      </div>
    <!---  <div class="col-lg-4 col-xl-3 col-md-6">
        <div
          class="single_catagory"
          style="background-image: url('./../../../assets/img/post/post_2.png')"
        >
          <a style="text-decoration: none" [routerLink]="['/jobs']"
            ><h4>Marketing</h4></a
          >
          <p><span>50</span> Available position</p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6">
        <div
          class="single_catagory"
          style="background-image: url('./../../../assets/img/post/post_3.png')"
        >
          <a style="text-decoration: none" [routerLink]="['/jobs']"
            ><h4>Telemarketing</h4></a
          >
          <p><span>50</span> Available position</p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6">
        <div
          class="single_catagory"
          style="background-image: url('./../../../assets/img/post/post_4.png')"
        >
          <a style="text-decoration: none" [routerLink]="['/jobs']"
            ><h4>Software & Web</h4></a
          >
          <p><span>50</span> Available position</p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6">
        <div
          class="single_catagory"
          style="background-image: url('./../../../assets/img/post/post_5.png')"
        >
          <a style="text-decoration: none" [routerLink]="['/jobs']"
            ><h4>Administration</h4></a
          >
          <p><span>50</span> Available position</p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6">
        <div
          class="single_catagory"
          style="background-image: url('./../../../assets/img/post/post_6.png')"
        >
          <a style="text-decoration: none" [routerLink]="['/jobs']"
            ><h4>Teaching & Education</h4></a
          >
          <p><span>50</span> Available position</p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6">
        <div
          class="single_catagory"
          style="background-image: url('./../../../assets/img/post/post_7.png')"
        >
          <a style="text-decoration: none" [routerLink]="['/jobs']"
            ><h4>Engineering</h4></a
          >
          <p><span>50</span> Available position</p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6">
        <div
          class="single_catagory"
          style="background-image: url('./../../../assets/img/post/post_8.png')"
        >
          <a style="text-decoration: none" [routerLink]="['/jobs']"
            ><h4>Garments / Textile</h4></a
          >
          <p><span>50</span> Available position</p>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- popular_catagory_area_end  -->

<!-- job_listing_area_start  -->
<div class="job_listing_area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="section_title">
          <h3>Job Listing</h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="brouse_job text-right">
          <a
            style="text-decoration: none"
            [routerLink]="['/jobs']"
            class="boxed-btn4"
            >Browse More Job</a
          >
        </div>
      </div>
    </div>
    <div class="job_lists">
      <div class="row">
        <div class="col-lg-12 col-md-12" *ngFor="let job of getLastJob">
          <div class="single_jobs white-bg d-flex justify-content-between">
            <div class="jobs_left d-flex align-items-center">
              <div class="thumb">
                <img src="./../../../assets/img/svg_icon/1.svg" alt="" />
              </div>
              <div class="jobs_conetent">
                <a style="text-decoration: none" [routerLink]="['/job-details']"
                  ><h4>{{job.title}}</h4></a
                >
                <div class="links_locat d-flex align-items-center">
                  <div class="location">
                    <p><i class="fa fa-map-marker"></i> {{job.location}}, Egypt</p>
                  </div>
                  <div class="location">
                    <p *ngIf= "job.jobType == 'F' "><i class="fa fa-clock-o"></i>Full Time</p>
                    <p *ngIf= "job.jobType == 'P' "><i class="fa fa-clock-o"></i>Part Time</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="jobs_right">
              <div class="apply_now">
                <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                <a [routerLink]="['/job-details']" class="boxed-btn3"
                  >Apply Now</a
                >
              </div>
              <div class="date">
                <p>{{job.published_at | date}}</p>
              </div>
            </div>
          </div>
        </div>
       <!---- <div class="col-lg-12 col-md-12">
          <div class="single_jobs white-bg d-flex justify-content-between">
            <div class="jobs_left d-flex align-items-center">
              <div class="thumb">
                <img src="./../../../assets/img/svg_icon/2.svg" alt="" />
              </div>
              <div class="jobs_conetent">
                <a [routerLink]="['/job-details']"><h4>Digital Marketer</h4></a>
                <div class="links_locat d-flex align-items-center">
                  <div class="location">
                    <p><i class="fa fa-map-marker"></i> California, USA</p>
                  </div>
                  <div class="location">
                    <p><i class="fa fa-clock-o"></i> Part-time</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="jobs_right">
              <div class="apply_now">
                <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                <a [routerLink]="['/job-details']" class="boxed-btn3"
                  >Apply Now</a
                >
              </div>
              <div class="date">
                <p>Date line: 31 Jan 2020</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="single_jobs white-bg d-flex justify-content-between">
            <div class="jobs_left d-flex align-items-center">
              <div class="thumb">
                <img src="./../../../assets/img/svg_icon/3.svg" alt="" />
              </div>
              <div class="jobs_conetent">
                <a [routerLink]="['/job-details']"
                  ><h4>Wordpress Developer</h4></a
                >
                <div class="links_locat d-flex align-items-center">
                  <div class="location">
                    <p><i class="fa fa-map-marker"></i> California, USA</p>
                  </div>
                  <div class="location">
                    <p><i class="fa fa-clock-o"></i> Part-time</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="jobs_right">
              <div class="apply_now">
                <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                <a [routerLink]="['/job-details']" class="boxed-btn3"
                  >Apply Now</a
                >
              </div>
              <div class="date">
                <p>Date line: 31 Jan 2020</p>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
<!-- job_listing_area_end  -->
<div class="job_searcing_wrap overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 offset-lg-1 col-md-6">
        <div class="searching_text">
          <h3>Looking for a Job?</h3>
          <p>We provide online instant cash loans with quick approval</p>
          <a [routerLink]="['/jobs']" class="boxed-btn3">Browse Job</a>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1 col-md-6">
        <div class="searching_text">
          <h3>Looking for a Expert?</h3>
          <p>We provide online instant cash loans with quick approval</p>
          <a [routerLink]="['/post-job']" class="boxed-btn3">Post a Job</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- top companies start -->
<div class="top_companies_area pt-5">
  <div class="container">
    <div class="row align-items-center mb-40">
      <div class="col-lg-6 col-md-6">
        <div class="section_title">
          <h3>Top Companies</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xl-3 col-md-6" *ngFor="let company of DataComp">
        <div class="single_company">
          <div class="thumb">
            <img src="./../../../assets/img/svg_icon/5.svg" alt="" />
          </div>
          <a style="text-decoration: none" [routerLink]="['/profile']"
            ><h3>{{company.companyName}}</h3></a
          >
          <p><span>{{company.count}}</span> Available position</p>
        </div>
      </div>
      <!--<div class="col-lg-4 col-xl-3 col-md-6">
        <div class="single_company">
          <div class="thumb">
            <img src="./../../../assets/img/svg_icon/4.svg" alt="" />
          </div>
          <a style="text-decoration: none" [routerLink]="['/profile']"
            ><h3>Snack Studio</h3></a
          >
          <p><span>50</span> Available position</p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6">
        <div class="single_company">
          <div class="thumb">
            <img src="./../../../assets/img/svg_icon/3.svg" alt="" />
          </div>
          <a style="text-decoration: none" [routerLink]="['/profile']"
            ><h3>Snack Studio</h3></a
          >
          <p><span>50</span> Available position</p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 col-md-6">
        <div class="single_company">
          <div class="thumb">
            <img src="./../../../assets/img/svg_icon/1.svg" alt="" />
          </div>
          <a style="text-decoration: none" [routerLink]="['/profile']"
            ><h3>Snack Studio</h3></a
          >
          <p><span>50</span> Available position</p>
        </div>
      </div>-->
    </div>
  </div>
</div>
<!-- top companies end -->
<!-- job_searcing_wrap  -->

<!-- job_searcing_wrap end  -->

<!-- testimonial_area  -->

<!--<div class="testimonial_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title text-center mb-40">
          <h3>Testimonial</h3>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="testmonial_active owl-carousel">
          <div class="single_carousel">
            <div class="row">
              <div class="col-lg-11">
                <div class="single_testmonial d-flex align-items-center">
                  <div class="thumb">
                    <img
                      src="./../../../assets/img/testmonial/author.png"
                      alt=""
                    />
                    <div class="quote_icon">
                      <i class="Flaticon flaticon-quote"></i>
                    </div>
                  </div>
                  <div class="info">
                    <p>
                      "Working in conjunction with humanitarian aid agencies, we
                      have supported programmes to help alleviate human
                      suffering through animal welfare when people might depend
                      on livestock as their only source of income or food.
                    </p>
                    <span>- Micky Mouse</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="single_carousel">
            <div class="row">
              <div class="col-lg-11">
                <div class="single_testmonial d-flex align-items-center">
                  <div class="thumb">
                    <img
                      src="./../../../assets/img/testmonial/author.png"
                      alt=""
                    />
                    <div class="quote_icon">
                      <i class="Flaticon flaticon-quote"></i>
                    </div>
                  </div>
                  <div class="info">
                    <p>
                      "Working in conjunction with humanitarian aid agencies, we
                      have supported programmes to help alleviate human
                      suffering through animal welfare when people might depend
                      on livestock as their only source of income or food.
                    </p>
                    <span>- Micky Mouse</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="single_carousel">
            <div class="row">
              <div class="col-lg-11">
                <div class="single_testmonial d-flex align-items-center">
                  <div class="thumb">
                    <img
                      src="./../../../assets/img/testmonial/author.png"
                      alt=""
                    />
                    <div class="quote_icon">
                      <i class="Flaticon flaticon-quote"></i>
                    </div>
                  </div>
                  <div class="info">
                    <p>
                      "Working in conjunction with humanitarian aid agencies, we
                      have supported programmes to help alleviate human
                      suffering through animal welfare when people might depend
                      on livestock as their only source of income or food.
                    </p>
                    <span>- Micky Mouse</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<!-- /testimonial_area  -->
